body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #4582af;
    overflow: hidden;
  }
  
  .navbar-center {
    text-align: center;
  }
  
  .navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a:hover {
    color: #85beff;
  }
  .login {
    margin-left: 30em;
  }
.navbar {
    padding: 0px 125px
}
.main{
    margin-left: 140px;
    font-size: 15px;
    line-height: 1;
    margin: 40px 130px;
    border-style: ridge;
}
h2{
    margin: 35px 70px;
    font-size: 36px;
}
p{
    color: grey;
    margin: 40px 70px;
}
b{
    margin: 70px;
}
img {
    display: block;
    transform: translate(740px, -130px);
    width: 400px;
}
details{
    line-height: 35px;
    transform: translate(70px, -290px);
    width: 54%;
}
summary{
    border: 2px;
    border-style: solid;
    width: 25%;
}