
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://thumbs.dreamstime.com/b/ультраширокий-абстрактный-синий-фон-с-гладкими-линиями-248353372.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  .navbar {
    background-color: #4582af;
    overflow: hidden;
  }
  
  .navbar-center {
    text-align: center;
  }
  
  .navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a:hover {
    color: #85beff;
  }
  .login {
    margin-left: 30em;
  }

*{
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #287233;
  color: white;
  padding: 5px 20px;
}

.main{
  background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612785857_44-p-goluboi-siyayushchii-fon-51.jpg);
  background-color: rgb(202, 202, 202);
  border-radius: 3%;
    margin-left: 140px;
    font-size: 15px;
    line-height: 1;
    margin: 40px 130px;
    border-style: ridge;
}
.list {
  display: flex;
  justify-content: center;

}
nav .navbar #nav-ul{
  display: flex;
  align-items: center;
  font-size: 21px;
}

p{
    color: rgb(0, 0, 0);
    margin: 40px 70px;
}
b{
    margin: 70px;
}
nav .navbar li{
  list-style: none;
  padding-left: 60px;
}

.dropdown {
  float: left;
  overflow: hidden;

}
button{
  background: none;
  border: none;
}
.dropdown ul{
  list-style: none;
}

summary{
  border-radius: 3%;
  border-color: #a3a6a8;
  background-color: #4582af;
  text-align: center;
    border: 2px;
    border-style: solid;
    width: 35%;
}
.block-list{
  background-color: #a3a6a8;
  border-radius: 3%;
  border-style: groove;
  transform: translate(30px, 10px);
}
summary:hover{
  background-color: #adb9c1;
}

.dropdown ul a{
  text-decoration: none;
}
.dropdown-menu{
  display: none;
}


.menu-active{
  display: block;
}

section{
  margin-left: 84;
  margin-right: 84;
  display: flex;
  justify-content: center;
}
.container{
  background-image: url("../images-svg/Background_profile.png");
  width: 1100px;
  height: 263px;
  display: flex;

}
.container ul{
  display: flex ;
  flex-direction: row;
  background-color: white;
  margin-top: 263px;
  width: 1100px;
  font-size: 20px;
  background-color: #F2F6EE;
}
.container ul li{
  list-style: none;
  margin-left: 20px;
}
.container img{
margin-top: 118px;
margin-left: 50px;
width: 300px;
}

aside{
  display: inline-block;
  width: 30px;
}

section .News{
  
  display: inline-block;
  margin-top: 40px;
  width: 100px;
}


.main {
  height: 400px;
  padding: 10px;
}

.dropdown_button {
  background-color: #0979ad;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 200px;
  font-family: montserrat;
  border: 1px solid #ffffff;
}

.courses {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.courses li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  list-style: none;
  background-color: rgb(47, 47, 47);
  font-family: montserrat;
  border: 1px solid white;
}

.courses li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}

.courses li:hover {
  background-color: #0979ad;
  color: white;
}