* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.heder-main{
    background-color: green;
}

.heder {
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: flex-start;
    padding-right: 500px;
}

.navbar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 500px;
    margin-bottom: 15px;
    margin-right: 520px;
    margin-top: 3px;
}

.dropbtn {
    color: rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd
}


.show {
    display: block;
}
#toggle-menu{
    font-size: 18px;
    text-decoration: none;
}

#side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #545f69;
    transition: left 0.3s;
}

#side-menu ul {
    list-style: none;
    padding: 0;
}

#side-menu ul li {
    padding: 10px;
}

#side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.line {
    border-bottom:4px solid #778899;
    margin-top: 13px;
}

.line-four {
    margin-left: 250px;
    margin-top: 40px;
    border-bottom: 1px solid #C0C0C0;
    width: 1420px;
    ;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.info h1 {
    margin-left: 40px;
    text-decoration: none;
    font-size: 28px;
}

.info p {
    margin-left: 40px;
    padding-top: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #545f69;
}

.info span {
    margin-top: 15px;
}

.changes-two {
    margin-left: 30px;
    padding-top: 30px;
}

.line-two {
    margin-top: 100px;
    border-bottom: 1px solid #C0C0C0;
    margin-left: 250px;
    border-left: 1px solid #C0C0C0;
    height: 850px;
    margin-top: -705px;
    border-right: 1px solid #C0C0C0;
    height: 750px;
    margin-top: -685px;
    margin-right: 250px;
}

.line-three {
    margin-top: 70px;
    border-bottom: 4px solid #778899;
}
.footer-main{
    background-color: green;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
}

.footer a {
    text-decoration: none;
    font-size: 18px;
    color: #545f69;
}
.Dark-theme{
    text-decoration: none;
    font-size: 16px;
    color: white;
}